{% extends 'base/base.html' %}
{% block page_content %}
    <div class="about">

        <h1>Welcome to Time to Fly, you're logged in as {{ request.user }}</h1>
        <p>
        <h3>
            Here, you can request various flights we can
            get you on. Once you find or create your desired
            destination, feel free to get in touch
            with us, to process your booking.
        </h3>
        <p>

        <h2>Contact Us:</h2><p>
        <h3>Email: support@timetofly.com</h3><p>
         <h3>Phone: 0-100-60-90-10</h3><p>
         <h3>290, Some Road, Some Zip</h3><p>

    </div>

{% endblock %}