{% extends 'base/base.html' %}
{% block page_content %}

    {% if request.user.is_authenticated %}
    <div class="flight-summary">
        {% if can_add_flights %}
                    <ul class="float-list"><h1>
    <h1>                                                           <a href="{% url 'create flight' %}"><button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Add Flight</span>
        </button></a></h1>{% endif %}
    </ul>{% endif %}
        {% for flight in page_obj %}
            <ul class="flights-list">
        <li>{{ flight.flight_code }}</li>
        <li>{{ flight.flight_from }}-{{ flight.flight_to }}</li>
        <li>{{ flight.flight_time }}</li>
        <li>{{ flight.flight_cost|floatformat:2 }} BGN</li>

                <li><a href="{% url 'view flight' flight.flight_number %}"><button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">View Flight</span></button></a><li/>
{#                {% if request.user.is_authenticated and request.user.is_staff %}#}
{#                <li class="green">(<a href="{% url 'update flight' flight.flight_number %}">Edit Flight</a>)</li>#}
{#                    <li class="red">(<a href="{% url 'delete flight' flight.flight_number %}">Delete Flight</a>)</li>#}
{#            {% endif %}#}
            </ul>
            <hr>
        {% endfor %}
    </div>
{#        <ul><a href="{% url 'details flight' flight.number %}"> Book</a></ul>#}

       <div class="pagination"> <h1>
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span></h1>
    </div>
{% endblock %}