{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <div class="background"">
        <div class="home">

            {% if request.user.is_authenticated %}<h1>
                <h1>You are logged in as, {{ request.user }}</h1>


                                                             <h1>                           <a href="{% url 'show profile' request.user.pk %}"><button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Go to Profile</span><button class="mdc-button foo-button"></a>
        </button>

                     <a href="{% url 'show flights' %}"><button class="mdc-button foo-button"><div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">View Flights</span>
        </button></a></h1>
            {% else %}
                <h1>Welcome to Time to Fly!</h1>
                                                       <h1>                        <a href="{% url 'login user'  %}"><button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Log In</span>
        </button></a>
                                                               <a href="{% url 'register user' %}"><button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Create an Account</span>
        </button></a></h1>

</h1>
        {% endif %}
    </div>
        <img width="100%" class='index' src="{% static 'images/timeToFly_.jpg' %}" alt="Background-image">
    </div>

{% endblock %}