{% extends 'base/base.html' %}
{% block page_content %}
                    {% csrf_token %}
                    <h1><div class="flights" >
                            <p>Flight Number: {{ flight.flight_number }}</p>
                                                    <p>Code: {{ flight.flight_code }}</p>
                                                   <p> {{ flight.flight_from }}
                                                    to {{ flight.flight_to }}</p>
                                                   <p> Departure:: {{ flight.flight_time }}</p>
                                                    <p>Ticket Price: {{ flight.flight_cost|floatformat:2 }} BGN</p>
                {% if is_author %}
                                                      <a href="{% url 'update flight' flight.pk %}"><button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Edit Flight</span></button></a>

                                   <a href="{% url 'delete flight' flight.pk %}"><button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Delete Flight</span></button></a>



                    </div>
    </h1>{% endif %}
{% endblock %}