{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    {% csrf_token %}
    <div class="flight-container">
    {% if object.image %}
        <img width="150px" height="150px" src="{{ object.image.url }}" alt="profile pic">
    {% else %}
        <img width="150px" height="150px" src="{% static 'images/no-image.jpg' %}" alt="profile pic">
    {% endif %}
    <h1>{{ object.first_name }}
    {{ object.last_name }}
    {{ object.email }}</h1>
    <p>
        {% if is_owner %}<h1>
    <a href="{% url 'edit profile' request.user.pk %}">Edit Profile</a><p>
    <a href="{% url 'delete profile' request.user.pk %}">Delete Profile</a></h1>
        {% endif %}
    </div>
{% endblock %}