{% extends 'base/base.html' %}
{% block page_content %}
    <form method="POST" action="{% url 'edit profile' object.pk %}" enctype="multipart/form-data">
        {% if is_owner %}
            {% csrf_token %}
            {{ form }}

                                       <button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">    Save</span>
        </button>


        {% else %}
            <h1>You can not edit someone else's Profile!</h1>
        {% endif %}
    </form>
{% endblock %}
