{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    {% csrf_token %}
    <div class="flight-container">
    {% if object.image %}
        <img width="150px" height="150px" src="{{ object.image.url }}" alt="profile pic">
    {% else %}
        <img width="150px" height="150px" src="{% static 'images/no-image.jpg' %}" alt="profile pic">
    {% endif %}
    <h1>{{ object.first_name }}
    {{ object.last_name }}
    {{ object.email }}</h1>
    {% if object.age %}
    <h1>Age: {{ object.age }}</h1>
    {% endif %}
    <p>
        {% if is_owner %}<h1>
   <a href="{% url 'edit profile' request.user.pk %}">                       <button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label"> Edit Profile</span>
        </button></a>
                           <a href="{% url 'delete profile' request.user.pk %}"><button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">    Delete Profile</h1></span>
        </button></a>


        {% endif %}
    </div>
{% endblock %}